.forms {
    padding: 10px 0 20px;
}
.forms__wrapper {
}
.container-fluid {
}
.row {
}
.col-12 {
}
.container {
}
.forms__box {
}
.forms__title {
    font-weight: 700;
    color: $mainColor;
}
.mb-0 {
}
.mt-3 {
}
.my-0 {
}
.form-control {
}
.my-4 {
}
.btn {
}
.text-uppercase {
}
.fw-bold {
}
.px-3 {
}
.py-2 {
}
.forms__button {
    @include btn;
}